h5 {

    margin: 0;
    padding: 0;
}

h4 {

    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

#topbar-container {
    margin: 0 auto;
    width: 100%;
    height: 90px;
    background-color: #4B4B4B;
}

#topbar {
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    height: 90px;
}

#headshot {
    padding-top: 5px;
    width: 75px;
    float: left;
    border-radius: 50%;
}


#title {
    float: left;
    font-size: 50px;
    padding-top: 5px; 
    padding-left: 45px;
    /* font-weight: bolder; */
    color: #FF9700;
    font-family: 'Patua One', cursive;
}

#git-logo {
    margin-top: -8px;
    float: right;
    width: 100px;

}

.outline {
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.drop-shadow { 
    text-shadow:
      0 1px #808d93,
      -1px 0 #cdd2d5,
      -1px 2px #808d93,
      -2px 1px #cdd2d5,
      -2px 3px #808d93,
      -3px 2px #cdd2d5,
      -3px 4px #808d93,
      -4px 3px #cdd2d5,
      -4px 5px #808d93,
      -5px 4px #cdd2d5,
      -5px 6px #808d93,
      -6px 5px #cdd2d5,
      -6px 7px #808d93,
      -7px 6px #cdd2d5,
      -7px 8px #808d93,
      -8px 7px #cdd2d5;
}

#menubar-container {

    width: 100%;
    height: 50px;
    background-color: #66D9EF; 

}

#menubar {

    margin: 0 auto;
    width: 1200px;
    height: 50px;
    padding-top: 7px;
    text-align: center;
}


#coding-container {
    width: 900px;
    height: 700px;
    margin: 30px auto 0 auto;
    border: 5px outset #F92672;
    background-color: #272822;
    padding: 50px;
    border-radius: 5%;
}

#code-title-box {
    margin: 0 auto;
    width: 400px;
    height: 70px;
    /* background-color: yellowgreen; */
    text-align: center;
    
}

#code-title {
    color: #E6DB74;
    font-size: 40px;
    font-family: 'Hanalei Fill', cursive;
}

#code-area {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    color: #F8F8F0;
    font-size: 20px;
    /* font-family: 'Wallpoet', cursive; */
    font-family: 'Averia Serif Libre', cursive;
}

.button {
    font-weight: bold;
    padding: 10px;
    background-color: #525448;
    color: #F92672;
    border-color: #E6DB74;
    border-radius: 50%;
}

/* -----------------------------------*/

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left !important;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

#link1:hover #drop1 {
    display: block;
}

#link1:hover .dropbtn {
    background-color: #3e8e41;
}

#link2:hover #drop2 {
    display: block;
}

#link2:hover .dropbtn {
    background-color: #3e8e41;
}

#link3:hover #drop3 {
    display: block;
}

#link3:hover .dropbtn {
    background-color: #3e8e41;
}

#link4:hover #drop4 {
    display: block;
}

#link4:hover .dropbtn {
    background-color: #3e8e41;
}

#link5:hover #drop5 {
    display: block;
}

#link5:hover .dropbtn {
    background-color: #3e8e41;
}

#link6:hover #drop6 {
    display: block;
}

#link6:hover .dropbtn {
    background-color: #3e8e41;
}

#link7:hover #drop7 {
    display: block;
}

#link7:hover .dropbtn {
    background-color: #3e8e41;
}

#link8:hover #drop8 {
    display: block;
}

#link8:hover .dropbtn {
    background-color: #3e8e41;
}

#link9:hover #drop9 {
    display: block;
}

#link9:hover .dropbtn {
    background-color: #3e8e41;
}

#link10:hover #drop10 {
    display: block;
}

#link10:hover .dropbtn {
    background-color: #3e8e41;
}

#link11:hover #drop11 {
    display: block;
}

#link11:hover .dropbtn {
    background-color: #3e8e41;
}

#link12:hover #drop12 {
    display: block;
}

#link12:hover .dropbtn {
    background-color: #3e8e41;
}

#link13:hover #drop13 {
    display: block;
}

#link13:hover .dropbtn {
    background-color: #3e8e41;
}


/* -----------------------------------*/


